.add-alert{
    width:18rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #eb244c;
    color: white;
    margin: 2rem;
}
.remove-alert{
    background-color: black;
    transform: translateX(2rem);
    transition: 2s ease;
}